.container {
  max-width: 1140px;
  box-sizing: border-box;
  padding-top: 0.625rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}
.button {
  padding: 0 12px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  max-width: max-content;
  border: none;
  color: #fff;
  font-size: 1.125rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0.313rem 0.625rem;
  background-color: #a50905;
}

.button:hover {
  background: linear-gradient(#dd0707, #de0707);
}
