.container {
  max-width: auto;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  text-decoration: none;
  padding: 0 12px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  max-width: max-content;
  border: none;
  color: #fff;
  line-height: 1;
  font-size: 1.125rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  min-height: 3rem;
  background-color: #a50905;
}

.button:hover {
  background: linear-gradient(#dd0707, #de0707);
}
