:root {
  --cor-text-corpo: #d2c8ae;
  --cor-p: #878582;
  --cor-primaria: #00aeff;
  --cor-primaria-hover: #66c4ff;
  --cor-bg-body: #000;
}

.cor-text-corpo {
  color: var(--cor-text-corpo);
}
.cor-p {
  color: var(--cor-p);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-primaria {
  color: var(--cor-primaria);
}
.cor-primaria-hover {
  color: var(--cor-primaria-hover);
}
.cor-bg-body {
  color: var(--cor-bg-body);
}
