:root {
  --cor-text-corpo: #d2c8ae;
  --cor-h2: #E5E0C8;
  --cor-p: #AA9480;
  --cor-primaria: #00aeff;
  --cor-primaria-hover: #66c4ff;
  --cor-bg-body: #000;
}

.cor-text-corpo {
  color: var(--cor-text-corpo);
}
.cor-h2 {
  color: var(--cor-h2);
}
.cor-p {
  color: var(--cor-p);
}
.cor-primaria {
  color: var(--cor-primaria);
}
.cor-primaria-hover {
  color: var(--cor-primaria-hover);
}
.cor-bg-body {
  color: var(--cor-bg-body);
}
