body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  background: var(--cor-bg-body);
  color: var(--cor-text-corpo);
}

a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}
