body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  margin: 0px;
  margin: 0;
  min-height: 100vh;
  background: var(--cor-bg-body);
  color: var(--cor-text-corpo);
}

a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0px;
}
