.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  height: 80px;
  margin-top: 1rem;
  background-color: rgba(36, 37, 38, 0.8);
  border-radius: 8px;
  margin-bottom: 3rem;
}

.header-titulo {
  font-family: "Old Fenris", serif;
  font-weight: 500;
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 40px;
  text-shadow: 3px 5px 5px rgb(0 0 0 / 50%);
  color: #00aeff;
  cursor: pointer;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.125rem;
  margin-right: 40px;
}
.header-menu a {
  display: inline-block;
  padding: 8px 8px 8px 8px;
  border-radius: 0.5rem;
  color: #fff;
  line-height: 1.5;
  font-size: 1.5rem;
}

.header-menu a:hover {
  background-color: #594a3f;
}
