.menu-bg {
  background-color: rgba(36, 37, 38, 0.8);
  width: 100%;
  transition: left 0.5s linear;
  position: fixed;
  z-index: 1000;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin: 0 auto;
}

.menu-logo a {
  margin: 0 10px;
  text-shadow: 3px 5px 5px rgb(0 0 0 / 50%);
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Old Fenris", serif;
  font-weight: 500;
}

.menu-logo a:hover {
  color: var(--cor-primaria-hover);
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  font-size: 1.25rem;
}
.menu-nav ul a {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: inline-block;
  padding: 8px;
  border-radius: 0.5rem;
  color: #fff;
  line-height: 1.5;
  font-size: 1.125rem;
  position: relative;
}

.menu-nav ul a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--cor-primaria-hover);
  margin-top: 2px;
  transition: 0.3s;
  position: absolute;
}

.menu-nav ul a:hover::after {
  width: 90%;
}

.menu-nav ul a.button:hover::after {
  width: 0%;
}

.menu-nav ul a:hover {
  background-color: rgba(36, 37, 38, 0.95);
}

@media (max-width: 900px) {
  .menu {
    justify-content: center;
  }

  @media (max-width: 500px) {
    .menu {
      justify-content: center;
    }
    .menu-logo a {
      font-size: 1.5rem;
    }
    .menu-nav ul a {
      line-height: 1;
      font-size: 1rem;
      padding: 0.1rem;
      padding-top: 0.625rem;
    }
  }
}
