.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  padding-bottom: 3rem;
  gap: 2rem;
}
.home-img {
  display: block;
  max-width: 450px;
}
.home-conteudo {
  padding: 0 1rem;
}
.home-conteudo h1 {
  padding-bottom: 2rem;
  font-size: 3.2rem;
}
.home-conteudo p {
  padding-bottom: 2rem;
  font-size: 2.9rem;
}
.home-conteudo .button + .button {
  display: inline-block;
  margin-left: 1.25rem;
}

@media (max-width: 500px) {
  .home {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .home-img {
    display: block;
    max-width: 450px;
  }
  .home-conteudo h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .home-conteudo p {
    padding-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
  }
  .home-conteudo div {
    align-items: center;
  }
  .home-conteudo {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
