.projetos {
  display: grid;
  padding: 4rem 0rem;
}
.projetos h1 {
  padding: 1rem 0rem;
  text-align: left;
}
.projetos-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}

.projetos-item {
  display: block;
  height: 100%;
  border-radius: 0.625rem;
  padding: 1rem;
  background: linear-gradient(
    117deg,
    rgba(10, 13, 21, 1) 0%,
    rgba(21, 28, 40, 1) 40%,
    rgba(35, 42, 57, 1) 70%,
    rgba(58, 70, 95, 1) 100%
  );
}

.projetos-item:hover,
.projetos-item:focus {
  translate: 10px;
  transition: all 300ms;
}

.projetos-img {
  display: block;
  width: 100%;
}
.item-info {
  display: grid;
}
.projetos-item h2 {
  text-transform: uppercase;
  padding-bottom: 0.625rem;
}
.projetos-item p {
  padding-bottom: 2rem;
  max-width: 50ch;
}

.center {
  display: grid;
  height: 100%;
  align-items: center;
  text-align: center;
}

@media (max-width: 720px) {
  .projetos-box {
    grid-template-columns: 1fr;
  }
  .projetos-item p {
    padding-bottom: 0;
    max-width: 30ch;
  }
  .projetos h1 {
    padding: 1rem 0rem 1rem 0rem;
  }
}
@media (max-width: 500px) {
  .projetos h1 {
    font-size: 2rem;
    padding: 2rem 0rem;
    text-align: center;
  }

  .projetos-item {
    display: block;
    max-height: 80px;
  }
  .projetos-item p {
    padding-bottom: 0.5rem;
    font-size: 1rem;
    max-width: 50ch;
  }
  .projetos-item h2 {
    font-size: 1rem;
  }
}
