.projetos {
  display: grid;

}
.projetos h1 {
  padding: 3rem 0rem 1rem 0rem;
  text-align: left;

}
.projetos-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}

.projetos-item {
  display: block;
  height: 100%;
  border-radius: 0.625rem;
  padding: 1rem;
  background: linear-gradient(
    117deg,
    rgba(10, 13, 21, 1) 0%,
    rgba(21, 28, 40, 1) 40%,
    rgba(35, 42, 57, 1) 70%,
    rgba(58, 70, 95, 1) 100%
  );
}
.projetos-item img {
  display: block;
  max-width: 100%;
}
.item-info {
  display: grid;
}
.projetos-item h2 {
  text-transform: uppercase;
  padding-bottom: 0.625rem;
}
.projetos-item p {
  padding-bottom: 2rem;
  max-width: 50ch;
}

.center {
  display: grid;
  height: 100%;
  align-items: center;
  text-align: center;
}

@media(max-width:720px) {
  .projetos-box {
    grid-template-columns: 1fr;
  }
  .projetos-item p {
    padding-bottom: 0;
    max-width: 30ch;
  }
}