.redes {
  text-align: center;
  padding: 2rem 0;
}
.redes-sociais ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
  animation: bounce 1s infinite alternate;
}
.redes-sociais ul li a {
  display: block;
  padding: 0.25rem;
  
}
.redes-sociais ul li a img {
  display: block;
  max-width: 100px;
  height: 50px;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translatey(-15px);
  }
}
