.servicos {
  display: grid;
  padding: 4rem 0rem;
}
.servicos h1 {
  padding: 1rem 0rem;
  text-align: left;
}
.servicos-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}

.servico-item {
  display: block;
  min-height: 240px;
  border-radius: 0.625rem;
  padding: 1rem;
  background: linear-gradient(
    117deg,
    rgba(10, 13, 21, 1) 0%,
    rgba(21, 28, 40, 1) 40%,
    rgba(35, 42, 57, 1) 70%,
    rgba(58, 70, 95, 1) 100%
  );
}
.servico-item:hover,
.servico-item:focus {
  translate: 10px;
  transition: all 300ms;
}

.icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 1rem;
}

.servico-item h2 {
  padding-bottom: 1rem;
}
.servico-item p {
  padding-bottom: 2rem;
  max-width: 50ch;
}

@media (max-width: 720px) {
  .servicos-box {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .servicos h1 {
    font-size: 2rem;
    padding: 2rem 0rem;
    text-align: center;
  }

  .servico-item {
    display: block;
    min-height: 80px;
    padding: 0.5rem;
  }
  .servico-item p {
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .servico-item h2 {
    font-size: 2rem;
  }
}
