.sobre-bg {
  background: #0a0d15;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 8rem 1rem;
  gap: 2rem;
  text-align: left;
}

.sobre-img {
  display: block;
  max-width: 250px;
}
.sobre-info {
  padding: 0 1rem;
}
.sobre-info h2 {
  padding-bottom: 1rem;
}
.sobre-info p {
  padding-bottom: 1rem;
  max-width: 50ch;
}
.sobre-chamada {
  padding: 0 1rem;
}
.sobre-chamada .button {
  display: flex;
}
.sobre-chamada h2 {
  padding-bottom: 1rem;
  font-family: "Poppins" Arial, Helvetica, sans-serif;
}
.sobre-chamada p {
  padding-bottom: 1rem;
  font-size: 1.125rem;
  max-width: 50ch;
}
@media (max-width: 900px) {
  .sobre {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .sobre img {
    display: none;
  }
}
@media (max-width: 500px) {
  .sobre-info h2 {
    font-size: 2.5rem;
  }
  .sobre-chamada {
    text-align: center;
  }
  .sobre-chamada .button {
    display: block;
    align-items: center;
    margin: auto;
  }
}
