.font-1-m {
  font: 400 1.225rem/1.25 "Alegreya Sans", sans-serif;
}

.font-1-xl {
  font: 500 3rem/1.05 "Alegreya Sans", sans-serif;
  letter-spacing: 0.015em;
}
.font-2-xl {
  font: 400 2.5rem/1.05 "Old Fenris", serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 3px 5px 5px rgb(0 0 0 / 50%);
}

.font-2-xxl {
  font: 500 2.8rem/1.125 "Old Fenris", serif;
  text-transform: uppercase;
}
